{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hashtag Generator</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="container">
      {% csrf_token %}
      <h1>Hashtag Generator</h1>
      <form id="hashtagForm">
        <input id="keyword" name="keyword" type="text" placeholder="Enter a keyword..." />
        <button type="button" onclick="generateHashtags()">Generate</button>
      </form>
      <div id="output"></div>
    </div>
    <script src="{% static "script.js" %}"></script>
  </body>
</html>
